body {
    font-family: 'Jost', sans-serif;
    background: white;
}

.navbar {
    margin: 35px;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

#banner {
    text-align: center;
    margin: auto;
    height: 75vh;
}

#deleteForm {
    display: inline;
}

#banner h1 {
    font-size: 6em;   
}
#banner h2 {
    font-size: 2em;
}
#banner a {
    margin-top: 5px;
}

.edit-comment-form {
    display: none;
}

tr:nth-child(even){
    background: rgba(171, 204, 197,0.5);
}


.postContent {
    white-space: pre-wrap;
}


footer {
    text-align: center;
}