<%- include("../partials/header") %>

<div id="banner" class="row align-items-center">
    <div class="col">
        <h1>Circle 109</h1>
        <h2>residents group.</h2>
        <a href="/discussion" class="btn btn-outline-info">view discussions</a>
    </div>
</div>

<%- include("../partials/footer") %>
